 .uno{
        width: 150px;
        height:auto;
        
    }
    .nota{
       text-align: center;
        margin: 25px;
    }
    .texto{
       text-align:justify;
        margin: auto;
    }
    body{
        background-color: lightgray;
    }